{% extends "base.html" %}

{% block content %}

    <div id="welcome" class="txt-header txt-white">
        <div class="cover-text-welcome">
            <h1>Welcome to DineMate!</h1>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'makebooking' %}" class="waves-effect waves-light btn-large bg-color-three">Make a Reservation</a>
            <p>or</p>
            <a href="{% url 'menu' %}" class="waves-effect waves-light btn-large bg-color-three">Check out the Menu</a>
        {% else %}
            <a href="{% url 'account_login' %}" class="waves-effect waves-light btn-large bg-color-three">Log In</a>
            <p>or</p>
            <a href="{% url 'account_signup' %}" class="waves-effect waves-light btn-large bg-color-three">Sign Up</a>
        {% endif %}
    </div>

    <div class="bg-color-light">
        <div class="container">
            <div class="row">
                <div class="col l8 offset-l2 s10 offset-s1 txt-header">
                    <h2>About Us</h2>
                    <p>Welcome to DineMate our high-end restaurant locatated in Miami. Our
                        restaurant offer a unique dining experience that combines exceptional cuisine, impeccable service,
                        and a luxurious atmosphere.</p>
                    <p>We are dedicated to providing an unforgettable dining experience for our guests, from the moment they
                        step through our doors to the last bite of dessert. Our staff is knowledgeable, attentive, and
                        passionate about ensuring that every detail is perfect, from the food and wine to the ambiance and
                        decor.</p>
                    <p>Whether you're celebrating a special occasion, enjoying a romantic dinner, or just indulging in a
                        night
                        out with friends, we invite you to join us at one of our locations and experience the best of
                        high-end
                        dining.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row txt-header bg-color-three">
        <h2>Location</h2>
        <div class="col l5 offset-l1 s10 offset-s1">
            <p>Located in the heart of Sotuh Beach, surrounded by palm trees.</p>
            <p>With the beach just around the corner, is the perfect place to relax and enjoy amazing food.</p>
            <div class="col l6 s10 offset-s1">
                <div class="card bg-color-main">
                    <div class="card-content">
                        <span class="card-title">Opening Hours</span>
                        <p>Monday to Friday - 12:00 to 22:00</p>
                        <p>Saturday and Sunday - 12:00 to 22:00</p>
                    </div>
                </div>
            </div>
            <div class="col l6 s10 offset-s1">
                <div class="card bg-color-main">
                    <div class="card-content">
                        <span class="card-title">Address</span>
                        <p>402 Washington Ave</p>
                        <p>Miami Beach, FL</p>
                        <p>33139</p>
                        <p>USA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l5 s10 offset-s1">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.8968199734118!2d-80.13562911916685!3d25.77397139859859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b4f2fe33b6c7%3A0x31e4fbaa0777f3fd!2s402%20Washington%20Ave%2C%20Miami%20Beach%2C%20FL%2033139%2C%20USA!5e0!3m2!1sen!2suk!4v1680097412151!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

{%endblock%}