{% extends "base.html" %}

{% block content %}

<div class="menu-wrapper">
    <div class="container">
        <div class="row txt-header nunito">
            <h3>Menu</h3>
            <div class="col l6 s10 offset-s1 cover-text txt-white txt-header">
                <h5>Starters</h5>
                <p>Pan-Seared Scallops with Avocado Puree and Citrus Reduction - $22</p>
                <p>Lobster Bisque with Truffle Oil and Garlic Croutons - $18</p>
                <p>Foie Gras Terrine with Port Wine Reduction and Brioche Toast - $24</p>
                <p>Grilled Octopus with Chimichurri Sauce and Pickled Red Onions - $20</p>
                <p>Burrata Salad with Heirloom Tomatoes and Basil Pesto - $16</p>
                <hr>
                <h5>Sides</h5>
                <p>Truffle Fries - $10</p>
                <p>Grilled Asparagus with Hollandaise Sauce - $12</p>
                <p>Garlic Roasted Brussels Sprouts - $10</p>
                <p>Creamed Spinach with Parmesan Cheese and Crushed Walnuts - $12</p>
            </div>
            <div class="col l6 s10 offset-s1 cover-text txt-white txt-header">
                <h5>Mains</h5>
                <p>Filet Mignon with Roasted Garlic Mashed Potatoes and Red Wine Sauce - $42</p>
                <p>Seared Ahi Tuna with Ginger-Soy Glaze and Wasabi Mashed Potatoes - $38</p>
                <p>Rack of Lamb with Mint Pesto and Grilled Vegetables - $46</p>
                <p>Pan-Seared Duck Breast with Cherry Gastrique and Wild Rice Pilaf - $40</p>
                <p>Grilled Wild Salmon with Lemon Herb Butter and Quinoa Pilaf - $36</p>
                <hr>
                <h5>Desserts</h5>
                <p>Chocolate Souffle with Vanilla Bean Ice Cream - $16</p>
                <p>Tiramisu with Espresso Soaked Ladyfingers - $14</p>
                <p>Lemon Tart with Raspberry Coulis - $12</p>
                <p>Cheesecake with Salted Caramel Sauce - $14</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}