/* General */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
    background-color: #ffffff;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 6px ), repeating-linear-gradient( #11e08455, #11e084 );
    }

.row {
    margin-bottom: 0;
}


/* Text */

.nunito {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}

.txt-header {
    text-align: center;
    padding-top: 3%;
}

.txt-white {
    color: white;
}

.txt-bold {
    font-weight: bold;
}

.cover-text {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: rgb(255, 255, 255);
}

hr {
    border-top: 1px solid white;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

textarea {
    height: 2%;
}


/* Background colors */

.bg-color-main {
    background-color: #11e084;
}

.bg-color-sec {
    background-color: #043620;
}

.bg-color-three {
    background-color: #0b8b52;
}

.bg-color-light {
    background-color: whitesmoke;
}


/* Messages */

.alert{
    position: fixed;
    left: 25%;
    top: 12%;
    width: 50%;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.alert-info{
    background-color: #039be5;
    color: #fff;
}

.alert-success{
    background-color: #43a047;
    color: #fff;
}

.alert-danger{
    background-color: #c62828;
    color: #fff;
}

.alert-warning{
    background-color: #fbc02d;
    color: #fff;
}


/* Navbar and Logo */

nav .brand-logo {
    padding: 0 0 0 2%;
}

#logo-half {
    color: #043620;
}

nav li:hover {
    background-color: #0b8b52;
}

.sidenav li>a {
    color: white;
}


/* Sign Up page */

.signup {
    margin-bottom: 2%;
}


/* Log In page */

.login {
    margin-bottom: 2%;
}


/* Log Out page */

.logout {
    margin-bottom: 2%;
}

/* Homepage */

#welcome {
    background-image: url("https://res.cloudinary.com/dbyx9r5rz/image/upload/v1678893525/homepage-image_uhfsc3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    flex: 1;
}

.cover-text-welcome {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: rgba(4, 54, 32, 0.8);
}

.btn-large:hover {
    background-color: #11e084;
}

.map {
    width: 100%;
    height: 350px;
}


/* Booking page */

.booking {
    margin-bottom: 2%;
}


/* Contact page */

.contact {
    margin-bottom: 2%;
}

/* Footer */

.page-footer {
    padding-bottom: 1%;
}

footer a {
    color: white;
}

.social i {
    font-size: 200%;
    padding-left: 3%;
}

.contact i {
    font-size: 200%;
    padding-right: 3%;
}


